Pillow
PyGithub
PyPDF2
pygments
pymediainfo
aiofiles
asyncurban
aiohttp
aria2p
async_generator
beautifulsoup4
bs4
bwb
cfscrape
chromedriver_autoinstaller
cowpy
cryptg
colorama
cloudscraper
DateTime
dnspython
emoji
faker
glitch_this
gTTS-token
gTTS
gitpython
google-api-python-client
google-auth-oauthlib
google_images_download
googletrans
geopy
gsearch
hachoir
heroku3
httplib2
humanize
justwatch
lxml
lottie
nekos.py
oauth2client
patool
psycopg2
psycopg2-binary
PyLyrics
pyaztro
pySmartDL
pybase64
pyfiglet
pylast
pymongo
python-barcode
python-dotenv
python-magic
pytube
pytz
qrcode
wand
regex
requests
search-engine-parser
spamwatch
selenium
speedtest-cli
spotify_token
spotdl
sqlalchemy 
telegraph
twitter_scraper
telethon
html-telegraph-poster
urbandict
validators
wikipedia
tswift
youtube-dl
youtube-search-python
youtube-search
